<mat-sidenav-container class="container">
    <mat-sidenav mode="over" [(opened)]="sidenavOpen" [fixedInViewport]="true" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/CertificadoAlumno" (click)="sidenavOpen = false">
          <mat-icon>description</mat-icon>
          <span>Certificado Alumno</span>
        </a>
  
        <a mat-list-item routerLink="/buscarPersonas" (click)="sidenavOpen = false">
          <mat-icon> search</mat-icon>
          <span> Buscar Personas</span>
        </a>

        <a mat-list-item routerLink="/generarReportes" (click)="sidenavOpen = false">
          <mat-icon> search</mat-icon>
          <span> Generar reportes</span>
        </a>

        <a mat-list-item routerLink="/descargarMaterial" (click)="sidenavOpen = false">
          <mat-icon> description</mat-icon>
          <span> Descargar material </span>
        </a>

        <a mat-list-item routerLink="/subirMaterial" (click)="sidenavOpen = false">
          <mat-icon> description</mat-icon>
          <span> Subir material</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar class="custom-toolbar">
        <button mat-icon-button (click)="sidenavOpen = !sidenavOpen">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
  
    </mat-sidenav-content>
  </mat-sidenav-container>