<!-- Footer -->
<footer class="bg-light p-3 d-flex flex-column align-items-center">
    <div class="footer-logo mb-2">
      <img src="logo.png" alt="Logo" class="logo-img">
    </div>

    <div class="footer-contact mb-2">
      <p><strong>Contacto:</strong></p>
      <p>Teléfono: +123 456 789</p>
      <p>Correo: contacto.com</p>
    </div>

    <div class="footer-social-icons mb-2">
      <a href="#" class="social-icon"><img src="facebook.png"></a>
      <a href="#" class="social-icon"><img src="instagram.png"></a>
      <a href="#" class="social-icon"><img src="social.png"></a>
    </div>

    <div class="footer-links text-center">
      <p><a href="#" class="text-dark text-decoration-none">Términos y Condiciones</a> |
        <a href="#" class="text-dark text-decoration-none">Política de Privacidad</a></p>
    </div>

    <div class="footer-copy text-center mt-2">
      <p>&copy; 2025 GESTOR COMUNAL DE ESTABLECIMIENTOS. Todos los derechos reservados.</p>
    </div>
  </footer>