<div class="container">
    <form class="mx-auto" style="max-width: 500px;">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Apellido">
        </div>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="RUT">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Correo Electronico">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Establecimiento">
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="password" class="form-control" placeholder="Contraseña">
        </div>
        <div class="col">
          <input type="password" class="form-control" placeholder="Confirmar contraseña">
        </div>
      </div>
      <button type="submit" class="btn btn-dark w-100">Registrarse</button>
    </form>
  </div>
  