name: Build and Push BuscarPersonas

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'BuscarPersonas/**'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests with Maven
        working-directory: ./BuscarPersonas
        run: mvn test

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set Docker image tag with SHA
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./BuscarPersonas
          file: ./BuscarPersonas/Dockerfile
          push: true
          tags: fyjo/monosgps-buscarpersonas:${{ env.IMAGE_TAG }}

      - name: Checkout GitOps repo
        uses: actions/checkout@v3
        with:
          repository: ChristianDDiazR/monosGPS_Deploy
          token: ${{ secrets.GITOPS_PAT }}
          path: gitops-repo

      - name: Update deployment image tag
        run: |
          FILE_PATH="gitops-repo/k8s/BuscarPersonas/deployment.yaml"
          sed -i "s|\(image: fyjo/monosgps-buscarpersonas:\).*|\1${{ env.IMAGE_TAG }}|" "$FILE_PATH"

      - name: Commit and push changes
        run: |
          cd gitops-repo
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add .
          git commit -m "Update authservice image tag to ${{ env.IMAGE_TAG }}"
          git push