name: Build & Push DB Usuarios

on:
  workflow_dispatch:
  push:
    paths:
      - 'database-usuarios/**'
      - '.github/workflows/db-usuarios.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./db-user
          file: ./db-user/Dockerfile
          push: true
          tags: fyjo/monosgps:usuarios-db
